@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?pzccnk');
  src:  url('../fonts/icomoon.eot?pzccnk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pzccnk') format('truetype'),
    url('../fonts/icomoon.woff?pzccnk') format('woff'),
    url('../fonts/icomoon.svg?pzccnk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-schedul:before {
  content: "\1f317";
}
.icon-phone2:before {
  content: "\e900";
}
.icon-caret-down:before {
  content: "\e90c";
}
.icon-caret-up:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e902";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-github:before {
  content: "\eab0";
}
